<.header>
  Admin
</.header>

<div class="flex">
  <div>
    <.simple_form for={@form} phx-submit="update">
      <.input field={@form["trip_id"]} label="Trip ID" />
      <:actions>
        <.button>View</.button>
      </:actions>
    </.simple_form>
  </div>
  <div>
    <div class="resizable size-iphone-12">
      <iframe :if={@iframe_url} src={@iframe_url}></iframe>
    </div>
  </div>
</div>
